---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  functional_tests:
    name: Run script
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']
        version: ['0.1.dev0', '0.1.dev1']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          version: ${{ matrix.version }}
      - name: Validate command (Linux, macOS)
        if: ${{ runner.os != 'Windows' }}
        run: |
          touch ./hello-world.bf
          echo "++++++++[>++++[>++>+++>+++>+<<<<-]>+>+>->>+[<]<-]>>.>---.+++++++..+++.>>.<-.<.++" > ./hello-world.bf
          echo "+.------.--------.>>+.>++." >> ./hello-world.bf
          output=$(brainfucky --file ./hello-world.bf)
          echo "$output" | cut -b32-
          rm -f ./hello-world.bf
          [ "$(echo "$output" | cut -b32-)" = "Hello World!" ] || exit 1;
        shell: sh
      - name: Validate command (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
          New-Item -Path . -Name "hello-world.bf" -ItemType "file" -Value "++++++++[>++++[>++>+++>+++>+<<<<-]>+>+>->>+[<]<-]>>.>---.+++++++..+++.>>.<-.<.++`n+.------.--------.>>+.>++."
          $Output = (brainfucky --file ./hello-world.bf) | Out-String
          Remove-Item hello-world.bf
          &{If($Output.Substring(33, 12) -ne 'Hello World!') {exit 1}}
        shell: pwsh
